
.card {
    display: flex;
    flex-direction: column;

    margin: 10px;
    z-index: 2;
}

.card > div, .card > div > * {
    max-width: 440px;
}

.card .card-banner {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .card-banner img {
    max-height: 450px;
}

.card .card-title > * {
    max-width: 430px;
}

.card .card-meta, .card .card-title {
    padding: 0 5px;
}

@media (max-width: 500px) {
    .card > div, .card .card-banner img {
        max-width: 100%;
    }
}
