
@font-face {
    font-family: edlo;
    src: url("/res/fonts/edlo.ttf");
}

body {
    margin: 0;
    overflow: hidden;
}

/** header **/

header {
    position: fixed;
    top: 1em;
    right: 1em;

    cursor: pointer;
}

/** nav **/

.floating-nav-button {
    font-family: edlo, Courier new, Courier, monospace;
    position: fixed;
    top: 10px;
    left: 10px;
}

.css-button-action-hack {
    display: none;
}

.css-button-action-hack + label {
    cursor: pointer;
}

.css-button-action-hack:checked + label {
    cursor: initial;

    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

nav {
    padding: 10px;
    height: 100%;

    z-index: 3;
    position: absolute;
    transition: padding-right 100ms;
    
    background-color: grey;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    font-family: edlo, Courier new, Courier, monospace; 
}

nav > ul > li.current-path::after {
    width: 100%;
    margin: 1em 0;

    content: "";
    display: block;
    border-bottom: 1px solid black;
}

nav > ul.stx-dark > li.current-path::after {
    border-bottom-color: #F8F8F2;
}

nav > ul > li:not(.current-path) {
    margin-bottom: 0.5em;
}

nav > ul > li a {
    color: inherit;
    text-decoration: none;
}

.css-button-action-hack:not(:checked) + label + nav {
    width : 0;
    padding: 0;
}

.css-button-action-hack:not(:checked) + label + nav > ul {
    visibility: hidden;
}

/** main **/
main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: edlo, Courier new, Courier, monospace;
}

.flex {
    display: flex;
}

.flex-rows {
    flex-direction: column;
}

.flex-columns {
    flex-direction: row;
}

.tm-0, .my-0 {
    margin-top: 0;
}

.bm-0, .my-0 {
    margin-bottom: 0;
}

/** footer **/

.sticky-bottom {
    position: fixed;
    bottom: 0;
}

.copyright {
    font-family: edlo, Courier new, Courier, monospace;
    font-size: .5rem;
    padding: .5em;
    left: 0;
}

.socials-container {
    right: 0;
}

/** misc **/

.enable-js {
    display: none;
}

.no-select {
    user-select: none;
}

.no-pointer-events {
    pointer-events: none;
}

.scalable-font {
    font-size: 0.5em;
}

@media (min-width: 450px) {
    .scalable-font {
        font-size: .75em;
    }
}

@media (min-width: 700px) {
    .scalable-font {
        font-size: 1em;
    }
}
