
.stx-dark {
	color: white;
	transition: background-color ease-in-out 0.2s,
	            color ease-in-out 0.2s;
}

.stx-dark .back, .stx-dark.back {
	background-color: #404040;
}

.stx-dark .stx-cnst {
	color: #FD9621;
}

.stx-dark .stx-path {
	color: #67D8EF;
}
