
.stx-light {
	color: black;
	transition: background-color ease-in-out 0.2s,
	            color ease-in-out 0.2s;
}

.stx-light .back, .stx-light.back {
	background-color: #EAEAEA;
}

.stx-light .stx-cnst {
	color: #C695C6;
}

.stx-light .stx-path {
	color: #6699CC;
}
