
noscript .top-header {
    font-size: 6em;
}

noscript .middle-header {
    font-size: 6.2em;
}

#content-container > *,
#content-container img {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.image-container img {
    display: block;
    margin: auto;
}

.video-container {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ol, li {
    margin: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 3px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#content-container.stx-light a,
#content-container.stx-light a:visited,
#content-container.stx-light a:active,
#content-container.stx-light a:link {
    color: blue;
}

#content-container.stx-dark a,
#content-container.stx-dark a:visited,
#content-container.stx-dark a:active,
#content-container.stx-dark a:link {
    color: #0AC6DB;
}

#content-container p,
#content-container li {
    text-align: justify;
    text-justify: inter-word;
}

.social-logo.share-link {
    position: relative;
    left: 1.2em;
}

@media (max-width: 500px) {
    #content-container > *,
    #content-container img {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    #content-container > *,
    #content-container img {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .social-logo {
        font-size: 5vw;
    }

    .social-logo.share-link {
        left: 1.3em;
    }

    .socials-container > #logo {
        width: 12vw;
    }
}

#content-container.scalable-font {
    font-size: 0.75em;
}

@media (min-width: 450px) {
    #content-container.scalable-font {
        font-size: 1em;
    }
}
