main {
    font-size: 2rem;
}

.timer-container {
    text-align: center;
}

.timer-container .timer-component,
.timer-separator {
    font-size: 1.5em;
}

.timer-container .timer-component-name {
    font-size: 0.8em;
}

.timer-separator {
    display: flex;
    align-items: center;
}
