
body, html, .centered-component {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.centered-component {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-component > * {
    z-index: 3;
}

.centered-component.vertical {
    flex-direction: column;
}
