
body, html {
    width: 100%;
    overflow-y: auto;
}

.items-component {
    width: calc(100% - 80px);
    height: calc(100% - 80px);

    padding: 40px;
    display: flex;
    align-content: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.items-component.vertical {
    flex-direction: column;
    height: unset;
    min-height: calc(100% - 80px);
}

@media (max-width: 1000px) {
    .items-component:not(.vertical) {
        justify-content: center;
    }
}
